<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <img src="/images/cvbgob.png" alt="Logo" style="height: 50px;">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/instrucoes">Instrução Sobre Pedidos</a></li>
                <!-- Outros itens do menu aqui -->
            </ul>
        </nav>
    </header>

    {{{body}}}

</body>
</html>
