@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* variáveis de cor */
    --primaria: #E32219;
    --secundaria: #1F1E1D;
    --background: #fff;    
    --color-text: #1F1E1D;

    /* variáveis de fonte */
    --font-family-texto: 'Open Sans';
    --font-family-titulo: 'Montserrat';
    --font-size-texto: 1em;
    --font-size-titulo: 2em;

    /* outros detalhes */
    --shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

main {
    padding: 50px 0;
}

/** BOTÕES - geral */
.button-1 {
    color: #fff;
    padding: 8px 25px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    background: var(--primaria);
}
.button-1:hover, .button-1.active {
    background: var(--secundaria);
}
/** FIM BOTÕES */

/** HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 999;
    padding-block: 10px;
    background: var(--background);
    box-shadow: var(--shadow);
}

nav a:not(.button-1) {
    border-bottom: 1px solid transparent;
}
nav a:not(.button-1):hover {
    padding-bottom: 1px;
    border-color: var(--primaria);
}
/** FIM HEADER */

/** CARD ABAS */
.card-abas {
    max-width: 700px;
    margin: 0 auto;
}

.aba {
    background: var(--primaria);
    color: #fff;
    fill: #fff;
    padding: 15px 25px;
    gap: 15px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: inset 2px -1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px 15px 0 0;
    min-width: 350px;
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    border-bottom: 2px solid var(--secundaria);
}
.aba:not(.active):hover {
    background: var(--secundaria);
}
.aba.active {
    position: relative;
    z-index: 1;
    background: transparent;
    color: var(--color-text);
    fill: var(--color-text);
    border: 2px solid var(--secundaria);
    border-bottom: none;
    box-shadow: none;
}
.aba-ghost {
    border-bottom: 2px solid var(--secundaria);
    width: 100%;
}

.card-abas form {
    padding: 30px 50px;
    border: 2px solid var(--secundaria);
    border-top: none;
    border-radius: 0 0 15px 15px;
}
/** FIM CARD ABAS */