/* Reset de margens e padding */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif; /* Mudança de fonte para Roboto */
    background-color: #f8f9fa;
}

.navbar {
    background-color: #007bff; /* Cor de fundo do cabeçalho */
}

.navbar-dark .navbar-nav .nav-link {
    color: white; /* Cor dos links */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ccc; /* Cor dos links ao passar o mouse */
}

/* Logo e título centralizados */
.logo-centralizado {
    text-align: center;
    margin: 20px 0;
}

.logo-img {
    width: 150px; /* Tamanho maior do logo */
}

.titulo-centralizado {
    text-align: center;
    font-size: 24px; /* Tamanho da fonte do título */
    font-weight: bold;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
}
