<section class="container admin-card">
    <div class="card-abas-container">
        <div class="card-abas">
            {{> abas }}
            <div class="card-abas-content">
                <!-- formulário de login administrador -->
                <form action="" method="post">
                    <fieldset>
                        <input type="text" name="email" id="email" required>
                        <label> Usuário administrativo </label>
                    </fieldset>                    
                    <fieldset>
                        <input type="password" name="password" id="password" required>
                        <label> Senha </label>
                    </fieldset>
                    <button type="submit" class="button-1">Entrar</button>
                </form>
            </div>
        </div>
        <div class="card-abas-introducao">
            <h1> LOGIN ADMINISTRATIVO </h1>
            <img src="/images/login-illustration.svg" alt="Ilustração representando o login de um usuário">
        </div>
    </div>
</section>