<div class="container text-center my-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <img src="/images/cvbgob.png" alt="Logo" class="img-fluid my-3" style="max-width: 200px;">
            <h1 class="display-4">SISTEMA DE MEDICAMENTOS CVB-CXS - GOB-RS</h1>
        </div>
    </div>
</div>
