<div class="logo-centralizado">
    <img src="/images/cvbgob.png" alt="Logo CVBCXS Dispensário" class="logo-img">
</div>
<div class="titulo-centralizado">
    SISTEMA DE MEDICAMENTOS CVB-CXS - GOB-RS
</div>
