<section class="container medicamento-card" style="margin-top: -100vh; margin-left: 320px;">
    <div class="card-abas-container">
        <div class="card-abas">
            {{> abas }}
            <div class="card-abas-content">
                <!-- formulário de cadastro de medicamento -->
                <form id="medicamento-form" action="" method="post">
                    <fieldset>
                        <input type="date" name="fabricacao" id="fabricacao" required>
                        <label> Data de Fabricação*</label>
                    </fieldset>
                    <fieldset>
                        <input type="date" name="validade" id="validade" required>
                        <label> Data de Validade*</label>
                    </fieldset>
                    <fieldset>
                        <input type="number" name="qtd_cx" id="qtd_cx" required>
                        <label>Quantidade de caixas*</label>
                    </fieldset>
                    <fieldset>
                        <input type="number" name="unidades_cx" id="unidades_cx">
                        <label> Unidades por caixa</label>
                    </fieldset>

                    <!-- Container para múltiplos compostos -->
                    <div id="compostos-container">
                        <div class="composto-group">
                            <fieldset>
                                <input type="text" name="composto[]" class="composto" required>
                                <label> Composto*</label>
                            </fieldset>
                            <fieldset>
                                <input type="text" name="gramatura[]" class="gramatura" required>
                                <label> Gramatura*</label>
                            </fieldset>
                            <fieldset>
                                <select name="unidade_medida[]" class="unidade_medida" required>
                                    <option value="mg">mg</option>
                                    <option value="g">g</option>
                                    <option value="mcg">mcg</option>
                                    <option value="mEc">mEc</option>
                                    <option value="mL">mL</option>
                                    <option value="L">L</option>
                                    <option value="mg/mL">mg/mL</option>
                                    <option value="g/mL">g/mL</option>
                                    <option value="gotas">gotas</option>
                                    <option value="mL">mL</option>
                                </select>
                                <label> Unidade de Medida*</label>
                            </fieldset>
                            <button type="button" class="remove-composto button-1" style="margin-top: 10px;">Remover</button>
                        </div>
                    </div>
                    <button type="button" id="add-composto" class="button-1" style="margin-top: 10px;">Adicionar Composto</button>

                    <fieldset>
                        <input type="text" name="laboratorio" id="laboratorio" required>
                        <label> Laboratório*</label>
                    </fieldset>
                    <fieldset>
                        <input type="text" name="lote" id="lote" required>
                        <label> Lote*</label>
                    </fieldset>
                    <fieldset>
                        <input type="text" name="medicamento" id="medicamento" required>
                        <label> Nome Medicamento*</label>
                    </fieldset>
                    <fieldset>
                        <select name="tipo_medicamento" id="tipo_medicamento" class="js-select2" required>
                            <option value="comprimido">Comprimido</option>
                            <option value="liquidis">Liquidis</option>
                            <option value="gotas">Gotas</option>
                            <option value="xarope">Xarope</option>
                            <option value="ampola">Ampola</option>
                            <option value="frascos">Frascos</option>
                            <option value="pomada">Pomada</option>
                            <option value="supositorio">Supositório</option>
                        </select>
                        <label> Tipo de Medicamento*</label>
                    </fieldset>
                    <button type="submit" class="button-1">Cadastrar</button>
                    <p class="info">Ao enviar o formulário, você automaticamente concorda com nossa <a href="">política de privacidade</a> e <a href="">termos de uso</a></p>
                </form>
            </div>
        </div>
        <div class="card-abas-introducao">
            <h1> CADASTRAR MEDICAMENTO </h1>
            <img src="/images/register-illustration.svg" alt="Ilustração representando o cadastro de um medicamento">
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const compostosContainer = document.getElementById('compostos-container');
        const addCompostoButton = document.getElementById('add-composto');

        // Função para adicionar um novo conjunto de campos de composto, gramatura e unidade de medida
        addCompostoButton.addEventListener('click', function() {
            const novoComposto = document.createElement('div');
            novoComposto.classList.add('composto-group');
            novoComposto.innerHTML = `
                <fieldset>
                    <input type="text" name="composto[]" class="composto" required>
                    <label> Composto*</label>
                </fieldset>
                <fieldset>
                    <input type="text" name="gramatura[]" class="gramatura" required>
                    <label> Gramatura*</label>
                </fieldset>
                <fieldset>
                    <select name="unidade_medida[]" class="unidade_medida" required>
                        <option value="mg">mg</option>
                        <option value="g">g</option>
                        <option value="mcg">mcg</option>
                        <option value="mEc">mEc</option>
                        <option value="mL">mL</option>
                        <option value="L">L</option>
                        <option value="mg/mL">mg/mL</option>
                        <option value="g/mL">g/mL</option>
                        <option value="gotas">gotas</option>
                        <option value="mL">mL</option>
                    </select>
                    <label> Unidade de Medida*</label>
                </fieldset>
                <button type="button" class="remove-composto button-1" style="margin-top: 10px;">Remover</button>
            `;
            compostosContainer.appendChild(novoComposto);

            // Adicionar funcionalidade de remoção ao novo botão "Remover"
            novoComposto.querySelector('.remove-composto').addEventListener('click', function() {
                compostosContainer.removeChild(novoComposto);
            });
        });

        // Funcionalidade de remoção para o primeiro grupo (se necessário)
        document.querySelector('.remove-composto').addEventListener('click', function(e) {
            e.target.closest('.composto-group').remove();
        });

        // Validação do formulário antes de submeter
        const form = document.getElementById('medicamento-form');
        form.addEventListener('submit', function(e) {
            e.preventDefault();

            const fabricacao = document.querySelector('#fabricacao').value;
            const validade = document.querySelector('#validade').value;
            const qtd_cx = document.querySelector('#qtd_cx').value;
            const unidades_cx = document.querySelector('#unidades_cx').value;
            const laboratorio = document.querySelector('#laboratorio').value;
            const lote = document.querySelector('#lote').value;
            const medicamento = document.querySelector('#medicamento').value;
            const tipo_medicamento = document.querySelector('#tipo_medicamento').value;
            const fabricacaoDate = new Date(fabricacao);
            const validadeDate = new Date(validade);
            const today = new Date();

            if (fabricacao && validade && qtd_cx && laboratorio && lote && medicamento && tipo_medicamento &&
                !isNaN(fabricacaoDate) && !isNaN(validadeDate) && fabricacaoDate <= today && fabricacaoDate < validadeDate && validadeDate >= today) {
                // Concatenar todos os compostos, gramaturas e unidades de medida em strings separadas por +
                const compostosCompletos = Array.from(document.querySelectorAll('.composto')).map((_, i) => {
                    const composto = document.querySelectorAll('.composto')[i].value;
                    const gramatura = document.querySelectorAll('.gramatura')[i].value;
                    const unidadeMedida = document.querySelectorAll('.unidade_medida')[i].value;
                    return `${composto} ${gramatura}${unidadeMedida}`;
                }).join(' + ');

                // Criar um campo hidden para enviar esses valores concatenados
                const compostosInput = document.createElement('input');
                compostosInput.type = 'hidden';
                compostosInput.name = 'compostos';
                compostosInput.value = compostosCompletos;
                form.appendChild(compostosInput);

                form.submit();
            } else {
                alert('Preencha todos os campos obrigatórios.');
            }
        });
    });
</script>
