<section class="container pedidos-card">
    <div class="card-abas-container">
        <div class="card-abas">
            {{> abas }}
            <!-- formulário de login administrador -->
            <form action="" method="post">
                <fieldset>
                    <input type="text" name="email" id="email" required>
                    <label> Usuário administrativo </label>
                </fieldset>                    
                <fieldset>
                    <input type="password" name="password" id="password" required>
                    <label> Senha </label>
                </fieldset>
                <button type="submit" class="button-1">Solicitar</button>
                <p class="info">Ao preencher o formulário você automaticamente concorda com nossa <a href="">politica de privacidade</a> e <a href="">termos de uso</a></p>
            </form>
        </div>
        <div class="card-abas-introducao">
            <h1> FORMULÁRIO DE REQUERIMENTO </h1>
            <img src="/images/pedido-illustration.svg" alt="Ilustração representando o pedido de um usuário">
        </div>
    </div>
</section>