{{#if data.system}}
    <section class="estoque-table" style="margin-top: -100vh; margin-left: 320px;">
{{else}}
    <section class="estoque-table">
{{/if}}
    <div class="container">
        {{> table }}
    </div>
</section>